<section class="mt-5 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <article class="post">
          <div class="post-header">
            <h2 class="post-title">About</h2>
          </div>
          <div class="post-content page-cover">
            <p>I've been mentoring students at a bootcamp for the last few years after graduating, so I wanted to
            start a blog with some friends to write about things that might be tough for entry level engineers to
            understand.</p>

            <p>I'm a developer for Rocket Insights, the world's best digital product agency. We're always hiring, so
            get in touch if you have any questions or want more info.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
