<section class="mt-5 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <article class="post">
          <div class="post-header">
            <h2 class="post-title">Contact</h2>
          </div>
          <div class="post-content page-cover">
            <p>Email: ben@rocketinsights.com</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
