<section class="mt-5 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <% @posts.each do |post| %>
          <article class="post">
            <div class="post-header">
              <h2 class="post-title"><%= link_to post.title, post %></h2>
              <ul class="post-meta">
                <li><i class="mdi mdi-calendar"></i> <%= post.posted_at %></li>
              </ul>
            </div>
            <div class="post-content">
              <%= truncate(strip_tags(post.rich_text_body.to_s), length: 100) %>
            </div>
            <div><%= link_to 'Read More', post, class: "btn btn-outline-custom"%> <i class="mdi mdi-arrow-right"></i></a></div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Temp Pagination-->
<div class="row">
  <div class="col-lg-12">
    <ul class="pagination">
      <li class="next"><a href="#"><i class="mdi mdi-chevron-left"></i></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="prev"><a href="#"><i class="mdi mdi-chevron-right"></i></a></li>
    </ul>
  </div>
</div>
